.app{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

 .menu-item{
  margin: 0 10px;
}

.search-area{
  margin: 10px 0;
  width: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.searchbox{
  height: 56px;
}

.search-btn{
  height: inherit;
}

.drop-down-area{
  min-height: 50px;
  border: 1px solid gray;
  border-radius: 5px;
  overflow-y: scroll;
  border-top: 0;
}

.close-btn{
  margin: 10px 0;
  padding-right: 4px;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  color: #1976d2;

}

.search-stock-item{
  list-style-type: none;
  padding: 20px 0 ;
  /* border-bottom: 1px solid gray; */
  display: flex;
  flex-direction: row;
}

.divider{
  color: rgba(0, 0, 0, 0.23);
  margin: 0px 15px;
}

.search-stock-item-info{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.search-stock-item span{
  padding: 0 10px;
}

.search-stock-item-name{
  font-weight: bold;
  margin: 5px 0;
}

.search-stock-item-ticker{

}

.search-stock-item-btn{
  display: flex;
  align-items: center;
  justify-content: end;
  width: 50%;
  padding-right: 20px;
  color: #1976d2;
  cursor: pointer;
}
