.app{
  text-align: center;
}

 .menu-item{
  margin: 0 10px;
}

.search-area{
  margin: 10px 0;
}

.dropdown-area{
  width: 700px;
}

.stock-item{
  list-style-type: none;
}

.stock-item span{
  padding: 0 10px;
}