.app{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

 .menu-item{
  margin: 0 10px;
}

.search-area{
  margin: 10px 0;
  width: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.searchbox{
  height: 56px;
}

.search-btn{
  height: inherit;
}

.drop-down-area{
  min-height: 50px;
  border: 1px solid gray;
  border-radius: 5px;
  overflow-y: scroll;
}

.close-btn{
  margin-top: 10px;
  padding-right: 4px;
  display: flex;
  justify-content: flex-end;
}

.stock-item{
  list-style-type: none;
}

.stock-item span{
  padding: 0 10px;
}